.button{
    width: 90px;
    height: 90px;
    margin:5px;
    border: none;
    border-radius: 10px;
    box-shadow: inset 10px 10px 10px rgb(120, 120, 120) ,inset -5px -5px 10px rgb(80, 80, 80);

}